<article class="blog-post">
  <h2 class="display-5 link-body-emphasis mb-1"><%= @article.title%></h2>
  <p class="blog-post-meta">
    <%= render 'articles/article_detail', article: @article%>
  </p>
  <p><%= @article.body %></p>
  <div class="d-flex gap-2">
    <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary' if policy(@article).update?%>
    <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
  </div>
  <h2 class="mt-5">Comments </h2>
  <%= render @article.comments%>
  <h2 class="mt-5">Add a comment:</h2>
  <% if policy(:comment).create? %>
    <%= render 'comments/form'%>
  <% else %>
    <p class="mb-3">Please, login to create a comment.</p>
  <% end%>
</article>
